$colors-primary: #f58220;
$colors-secondary: #58595b;
$fontWeight-regular: 400;
$fontWeight-bold: 800;
$borderRadius-default: 4px;
$opacity-50: 50%;
$opacity-100: 100%;
$screens-sm-max: 640px;
$screens-md-min: 641px;
$screens-md-max: 960px;
$screens-lg-min: 961px;
$screens-lg-max: 1280px;
$screens-xl-min: 1281px;
$screens-xl-max: 1600px;
$screens-xxl-min: 1601px;
