/* Tailwind generated styles */
@tailwind base;

@tailwind components;

@screen xxl {
    .container-page {
        @apply grid grid-cols-12 col-gap-10 px-10;
    }

    .container-boxed {
        @apply grid grid-cols-12 col-gap-10;
        padding: 0 calc((100% - 70rem) / 2);
    }
}

@screen xl {
    .container-page {
        @apply grid grid-cols-12 col-gap-10 px-10;
    }

    .container-boxed {
        @apply grid grid-cols-12 col-gap-10;
        padding: 0 calc((100% - 55rem) / 2);
    }
}

@screen lg {
    .container-page {
        @apply grid grid-cols-12 col-gap-10 px-10;
    }

    .container-boxed {
        @apply grid grid-cols-12 col-gap-10;
        padding: 0 calc((100% - 40rem) / 2);
    }
}

@screen md {
    .container-page {
        @apply grid grid-cols-6 col-gap-6 px-6;
    }

    .container-boxed {
        @apply grid grid-cols-6 col-gap-6 px-6;
    }
}

@screen sm {
    .container-page {
        @apply grid grid-cols-2 col-gap-6 px-6;
    }

    .container-boxed {
        @apply grid grid-cols-2 col-gap-6 px-6;
    }
}

@tailwind utilities;
